<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/static/assets/images/pinkcity-614x242.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>About</title>
  <link rel="stylesheet" href="/static/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/static/assets/theme/css/style.css">
  <link rel="preload" as="style" href="/static/assets/mobirise/css/mbr-additional.css">
  <link rel="stylesheet" href="/static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  

</head>
<body>
  
  <section class="extMenu6 menu cid-scDwT3zv0S" once="menu" id="extMenu3-4">

    

    <nav class="navbar navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <div class="menu-content-top">
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/">
                            <img src="/static/assets/images/pinkcity-614x242.png" alt="" style="height: 5.4rem;">
                        </a>
                    </span>
                    
                </div>
            </div>
            <div class="menu-content-right">
                <div class="info-widget">
                    <span class="widget-icon mbr-iconfont mbri-mobile2" style="color: rgb(217, 83, 83); fill: rgb(217, 83, 83);"></span>
                    <div class="widget-content display-4">
                        <p class="widget-title mbr-fonts-style display-4">+ 91-8949462506</p>
                        <p class="widget-text mbr-fonts-style display-4"></p>
                    </div>
                </div>
                <div class="info-widget">
                    <span class="widget-icon mbr-iconfont mbri-clock" style="color: rgb(217, 83, 83); fill: rgb(217, 83, 83);"></span>
                    <div class="widget-content display-4">
                        <p class="widget-title mbr-fonts-style display-4">Mon - Fri: 9:00AM - 5:00PM</p>
                        <p class="widget-text mbr-fonts-style display-4">Sat - Sun: Closed</p>
                    </div>
                </div>
                




                






            </div>
        </div>
        <div class="menu-bottom">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown js-float-line nav-right" data-app-modern-menu="true"><li class="nav-item">
                        <a class="nav-link link mbr-black text-white text-primary display-4" href="/">
                            Home</a>
                    </li>
                    

                    <li class="nav-item">
                        <a class="nav-link link mbr-black text-white text-primary display-4" href="/services">Services</a>
                    </li><li class="nav-item"><a class="nav-link link mbr-black text-white text-primary display-4" href="/about">About Us</a></li></ul>

            </div>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </div>
    </nav>
</section>

<section class="mbr-section extContent cid-sd7x32uJFb" id="extContent16-6">
<br><br><br><br>
    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-12 text-section">
                <div class="logo align-center pb-5">
                    <a href="#">
                        <img src="/static/assets/images/pinky-815x815.png" alt="" style="height: 7.2rem;">
                    </a>
                </div>
                
                <p class="mbr-fonts-style mbr-text align-center display-7">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloreasdes magna aliqua. Ut enim cuiad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodalo consequat. Duis aute irure dolor ireprehenderit enovin voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia indiddeserunt mollit anim id est laborum. Sed ut perspiciatis reunde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                </p>
            </div>
        </div>
    </div>
</section>

<section class="extContent cid-sd7xltvrkD" id="extContent18-a">

    

    



    <div class="container align-center">
        <div class="row">
            <div class="col-lg-6 col-md-12 align-center">
                <img src="/static/assets/images/mbr-1012x779.jpeg" alt="">

                <h1 class="mbr-section-title mbr-regular pt-5 align-left mbr-fonts-style display-2">Solutions For Your Business</h1>
                
                <p class="mbr-text mbr-light pt-4 align-left mbr-fonts-style display-7">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui enim, pharetra at auctor vitae,
                    mollis nec risus. Phasellus sagittis lectus at suscipit pulvinar.
                </p>
                <div class="align-left mbr-section-btn"><a class="btn btn-md btn-danger display-4" href="#">READ MORE</a></div>

            </div>

            <div class="col-md-12 col-lg-6 m-auto">



                <h1 class="mbr-section-title mbr-regular pt-5 align-left mbr-fonts-style display-2">Technologies</h1>
                
                <p class="mbr-text mbr-light pt-4 align-left mbr-fonts-style display-7">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui enim, pharetra at auctor vitae,
                    mollis nec risus. Phasellus sagittis lectus at suscipit pulvinar.
                </p>
                <div class="align-left mbr-section-btn"><a class="btn btn-md btn-danger display-4" href="#">READ MORE</a></div>

                <div class="pt-5">
                    <img src="/static/assets/images/mbr-1012x715.jpeg" alt="">
                </div>
            </div>


        </div>



    </div>
</section>

<section class="content02 digitalm4_content02 cid-sd7x9dlMWj" id="content02-8">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="img-col col-12 md-pb col-md-12 col-lg-6 m-auto">
                <img src="/static/assets/images/13.png" alt="" class="mb-5">
            </div>
            <div class="card col-12 col-md-12 col-lg-6 pl-5">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="badge_wrap align-left">
                            
                        </div>
                        
                        <h3 class="main-title align-left mbr-semibold mbr-black mbr-fonts-style display-2">
                            A breakthrough digital product in your customers’ hands within 100 days</h3>
                        
                        <div class="contents">
                            <p class="mbr-text content-text mbr-regular mbr-fonts-style display-4">
                                Fringilla phasellus faucibus scelerisque eleifend donec pretium. Dolor sit amet
                                consectetur adipiscing. Mi tempus imperdiet nulla malesuada pellentesque elit eget
                                gravida.
                            </p>
                            <p class="mbr-text content-text mbr-regular mbr-fonts-style display-4">
                                Cursus sit amet dictum sit amet justo. Porta nibh venenatis cras sed felis eget velit.
                                Lorem donec massa sapien faucibus et molestie ac feugiat. Rutrum quisque non tellus orci
                                ac auctor augue mauris.
                            </p>
                        </div>
                        <div class="mbr-section-btn pb-4"><a class="btn btn-sm btn-secondary display-4" href="#">MORE DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section once="footers" class="cid-rVs3LKglxt" id="footer02-3">

    

    

    <div class="container">
        <div class="row mbr-white">
            <div class="copyright align-center col-md-12">
                <p class="mbr-text mb-0 mbr-fonts-style align-center display-4">
                    © 2020 Pinkcityinfotech.com All rights reserved.</p>
            </div>
        </div>
    </div>
</section>


<script src="/static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/static/assets/popper/popper.min.js"></script>
  <script src="/static/assets/tether/tether.min.js"></script>
  <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="/static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/static/assets/theme/js/script.js"></script>
  
  
  

</body>
</html>