<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/static/assets/images/pinkcity-614x242.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="/static/assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="/static/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="/static/assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="/static/assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/static/assets/theme/css/style.css">
  <link rel="stylesheet" href="/static/assets/recaptcha.css">
  <link rel="preload" as="style" href="/static/assets/mobirise/css/mbr-additional.css">
  <link rel="stylesheet" href="/static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  

</head>
<body>
  
  <section class="extMenu6 menu cid-scDwT3zv0S" once="menu" id="extMenu3-0">

    

    <nav class="navbar navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <div class="menu-content-top">
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/">
                            <img src="/static/assets/images/pinkcity-614x242.png" alt="" style="height: 5.4rem;">
                        </a>
                    </span>
                    
                </div>
            </div>
            <div class="menu-content-right">
                <div class="info-widget">
                    <span class="widget-icon mbr-iconfont mbri-mobile2" style="color: rgb(217, 83, 83); fill: rgb(217, 83, 83);"></span>
                    <div class="widget-content display-4">
                        <p class="widget-title mbr-fonts-style display-4">+ 91-8949462506</p>
                        <p class="widget-text mbr-fonts-style display-4"></p>
                    </div>
                </div>
                <div class="info-widget">
                    <span class="widget-icon mbr-iconfont mbri-clock" style="color: rgb(217, 83, 83); fill: rgb(217, 83, 83);"></span>
                    <div class="widget-content display-4">
                        <p class="widget-title mbr-fonts-style display-4">Mon - Fri: 9:00AM - 5:00PM</p>
                        <p class="widget-text mbr-fonts-style display-4">Sat - Sun: Closed</p>
                    </div>
                </div>
                




                






            </div>
        </div>
        <div class="menu-bottom">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown js-float-line nav-right" data-app-modern-menu="true"><li class="nav-item">
                        <a class="nav-link link mbr-black text-white text-primary display-4" href="/">
                            Home</a>
                    </li>
                    

                    <li class="nav-item">
                        <a class="nav-link link mbr-black text-white text-primary display-4" href="/services">Services</a>
                    </li><li class="nav-item"><a class="nav-link link mbr-black text-white text-primary display-4" href="/about">About Us</a></li></ul>

            </div>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </div>
    </nav>
</section>

<section class="header03 cid-rVs3FWodnW" id="header03-1">

    

    

    <div class="container align-left">
        <div class="row justify-content-left">
            <div class="mbr-white col-md-12 col-lg-6">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">Create &amp; Connect Your Worlds</h1>
                <h2 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">Save Your Money. Use products of Pinkcity Infotech Software Company.</h2>
                
                <div class="mbr-section-btn"><a class="btn btn-lg btn-danger display-4" href="#">MORE</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features03 digitalm4_features03 cid-scDE3Z7LyJ" id="features03-2">

    

    
    <div class="container justify-content-center">
        <h3 class="mbr-fonts-style mbr-section-subtitle align-center mbr-light pt-3 display-4">WHAT WE DO?</h3>
        <div class="badge_wrap align-center">
            
        </div>
        <h2 class="mbr-fonts-style mbr-section-title align-center display-2">The full service we are offering is specifically <br>
            designed to meet your business needs.</h2>
        <div class="media-container-row justify-content-center align-items-start main-wrapper">
            <div class="icon-main col-lg-3 col-md-6 col-12 without-before">
                <div class="process-icon process-icon-first">
                    <div class="wrapper-without-before">
                        <span class="icon-container">
                            <a href="#">
                                <span class="icon-wrapper icon1 mbr-iconfont mbrib-search"></span>
                            </a>
                            
                        </span>
                    </div>
                    <h1 class="subicon-title mbr-fonts-style display-7">SEO Services</h1>
                    <p class="subicon-text mbr-fonts-style display-4">Id aliquet risus feugiat in ante metus dictum at. Cras fermentum
                        odio eu feugiat pretium nibh.</p>
                </div>
            </div>

            <div class="icon-main col-lg-3 col-md-6 col-12">
                <div class="process-icon">
                    <div class="wrapper">
                        <span class="icon-container">
                            <a href="#">
                                <span class="mbr-iconfont icon2 icon-wrapper mobi-mbri-devices mobi-mbri"></span>
                            </a>
                            
                        </span>
                    </div>
                    <h1 class="subicon-title mbr-fonts-style display-7">Web &amp; App Development</h1>
                    <p class="subicon-text mbr-fonts-style display-4">Id aliquet risus feugiat in ante metus dictum at. Cras fermentum
                        odio eu feugiat pretium nibh.</p>
                </div>
            </div>

            <div class="icon-main col-lg-3 col-md-6 col-12 third-elem">
                <div class="process-icon">
                    <div class="wrapper">
                        <span class="icon-container">
                            <a href="#">
                                <span class="mbr-iconfont icon3 icon-wrapper mobi-mbri-delivery mobi-mbri"></span>
                            </a>
                            
                        </span>
                    </div>
                    <h1 class="subicon-title mbr-fonts-style display-7">Software Development</h1>
                    <p class="subicon-text mbr-fonts-style display-4">Id aliquet risus feugiat in ante metus dictum at. Cras fermentum
                        odio eu feugiat pretium nibh.</p>
                </div>
            </div>

            <div class="icon-main col-lg-3 col-md-6 col-12">
                <div class="process-icon">
                    <div class="wrapper">
                        <span class="icon-container">
                            <a href="#">
                                <span class="mbr-iconfont icon4 icon-wrapper mobi-mbri-users mobi-mbri"></span>
                            </a>
                            
                        </span>
                    </div>
                    <h1 class="subicon-title mbr-fonts-style display-7">Internship Trainings</h1>
                    <p class="subicon-text mbr-fonts-style display-4">Id aliquet risus feugiat in ante metus dictum at. Cras fermentum
                        odio eu feugiat pretium nibh.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tabs01 cid-rVs3J6mjJa" id="tabs01-7">

    

    
    <div class="container">
        <div class="badge_wrap align-center">
            
        </div>
        <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-4">
            WHAT WE DO
        </h3>
        <h2 class="mbr-section-title align-center mbr-fonts-style display-2">
            We plan and build digital products for your
            business or project with high confidence
        </h2>
        <div class="media-container-row">
            <div class="col-12 col-md-10 mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item mbr-fonts-style">
                                <a class="nav-link mbr-fonts-style active" role="tab" data-toggle="tab" href="#tab1" aria-expanded="true">
                                    <p class="tab-title align-left mbr-fonts-style display-7">
                                        Marketing Research
                                    </p>
                                    <p class="mbr-text align-left mbr-fonts-style display-4">
                                        Diam vel
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item mbr-fonts-style display-4">
                                <a class="nav-link mbr-fonts-style active show" role="tab" data-toggle="tab" href="tab2" aria-selected="true">
                                    <p class="tab-title align-left mbr-fonts-style display-7">
                                        Secure Payments
                                    </p>
                                    <p class="mbr-text align-left mbr-fonts-style display-4">
                                        Dictum non
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item mbr-fonts-style display-4">
                                <a class="nav-link mbr-fonts-style active show" role="tab" data-toggle="tab" href="#tab3" aria-selected="true">
                                    <p class="tab-title align-left mbr-fonts-style display-7">Weekly Updates
                                    </p>
                                    <p class="mbr-text align-left mbr-fonts-style display-4">
                                        Tempor orci
                                    </p>
                                </a></li>
                            <li class="nav-item mbr-fonts-style display-4">
                                <a class="nav-link mbr-fonts-style active show" role="tab" data-toggle="tab" href="#tab4" aria-selected="true">
                                    <p class="tab-title align-left mbr-fonts-style display-7">
                                        System Integration
                                    </p>
                                    <p class="mbr-text align-left mbr-fonts-style display-4">
                                        Justo donec
                                    </p>
                                </a></li>
                        </ul>
                    </div>
                    <div class="col-md-7 ml-auto">
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane in active" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12 pb-3">
                                        <div class="card-img"><img src="/static/assets/images/13.png" alt=""></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 class="align-left title-content pb-2 mbr-fonts-style display-5">
                                            Lorem ipsum dolor sit amet
                                        </h4>
                                        <p class="mbr-text mbr-fonts-style align-left display-7">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem laudantium
                                            in adipisci ipsa optio quas id excepturi non, eos cupiditate, necessitatibus
                                            sapiente illo error. Vero adipisci quidem aut itaque labore.
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab-pane" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12 pb-3">
                                        <div class="card-img"><img src="/static/assets/images/02.jpg" alt=""></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 class="align-left title-content pb-2 mbr-fonts-style display-5">
                                            Lorem ipsum dolor sit amet
                                        </h4>
                                        <p class="mbr-text mbr-fonts-style align-left display-7">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem laudantium
                                            in adipisci ipsa optio quas id excepturi non, eos cupiditate, necessitatibus
                                            sapiente illo error. Vero adipisci quidem aut itaque labore.
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div id="tab3" class="tab-pane" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12 pb-3">
                                        <div class="card-img"><img src="/static/assets/images/03.jpg" alt=""></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 class="align-left title-content pb-2 mbr-fonts-style display-5">
                                            Lorem ipsum dolor sit amet
                                        </h4>
                                        <p class="mbr-text mbr-fonts-style align-left display-7">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem laudantium
                                            in adipisci ipsa optio quas id excepturi non, eos cupiditate, necessitatibus
                                            sapiente illo error. Vero adipisci quidem aut itaque labore.
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div id="tab4" class="tab-pane" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12 pb-3">
                                        <div class="card-img"><img src="/static/assets/images/04.jpg" alt=""></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 class="align-left title-content pb-2 mbr-fonts-style display-5">
                                            Lorem ipsum dolor sit amet
                                        </h4>
                                        <p class="mbr-text mbr-fonts-style align-left display-7">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem laudantium
                                            in adipisci ipsa optio quas id excepturi non, eos cupiditate, necessitatibus
                                            sapiente illo error. Vero adipisci quidem aut itaque labore.
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features8 cid-rVs3IvIhI2" id="features08-5">

    

    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="badge_wrap align-center">
                    
                </div>
                <h3 class="mbr-section-subtitle mbr-fonts-style align-center display-4">OUR WORK PROCESS</h3>
                <h4 class="main-title align-center mbr-semibold mbr-fonts-style display-2">The process steps on creating
                    our awesome and beautiful projects.</h4>

            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="/static/assets/images/9.png" alt="">
                </div>
                <div class="col-lg-4 pr-lg-0 pl-md-0">
                    <div class="card p-3">
                        <div class="card-wrapper d-flex flex-row justify-content-center">
                            <div class="card-count">
                                <span class="icon-count mbr-fonts-style display-4">1</span>
                            </div>
                            <div class="card-box align-left">
                                <h4 class="card-title align-left mbr-fonts-style display-7">
                                    Collect Ideas</h4>
                                <p class="mbr-text mbr-fonts-style display-4">Cum sociis
                                    natoque penatibus et magnis dis parturient montes.</p>
                                <div class="link-wrap">
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-3">
                        <div class="card-wrapper d-flex flex-row justify-content-center">

                            <div class="card-count">
                                <span class="icon-count mbr-fonts-style display-4">2</span>
                            </div>
                            <div class="card-box align-left">
                                <h4 class="card-title align-left mbr-semibold mbr-fonts-style display-7">
                                    Design Concept</h4>
                                <p class="mbr-text mbr-fonts-style display-4">Cum sociis
                                    natoque penatibus et magnis dis parturient montes.</p>
                                <div class="link-wrap">
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-3">
                        <div class="card-wrapper d-flex flex-row justify-content-center">
                            <div class="card-count">
                                <span class="icon-count mbr-fonts-style display-4">3</span>
                            </div>
                            <div class="card-box align-left">
                                <h4 class="card-title align-left mbr-semibold mbr-fonts-style display-7">
                                    Finalize Product</h4>
                                <p class="mbr-text mbr-fonts-style display-4">Cum sociis
                                    natoque penatibus et magnis dis parturient montes.</p>
                                <div class="link-wrap">
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>

            </div>

            
        </div>
    </div>
</section>

<section class="tabs2 cid-rVs3JTdZCN" plugin="mbr-tabs" id="tabs02-8">

    

    

    

    <div class="container">
        <div class="badge_wrap align-center">
            
        </div>
        <h3 class="mbr-fonts-style mbr-section-subtitle align-center mbr-light display-4">Pricing Tables
</h3>
        <h4 class="main-title align-center mbr-regular mbr-black mbr-fonts-style display-2">We offer great prices, premium products <br>
            and quality service for your business.</h4>

        
        <ul class="nav nav-tabs mb-3 d-flex justify-content-center" role="tablist">
            <li class="nav-item first mbr-section-btn"><a class="mbr-fonts-style btn show btn-sm active display-4" role="tab" data-toggle="tab" href="#tabs02-8_tab0" aria-selected="true">MONTHLY</a></li>
            <li class="nav-item mbr-section-btn"><a class="mbr-fonts-style btn btn-sm active display-4" role="tab" data-toggle="tab" href="#tabs02-8_tab1" aria-selected="true">YEARLY</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab1" class="tab-pane in active" role="tabpanel">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="media-container-row">
                            <div class="plan col-12 my-3 justify-content-center col-md-4">
                                <div class="plan-header text-center">
                                    <span class="mbr-iconfont mbri-mobile"></span>
                                    <h3 class="plan-title mbr-bold pb-3 mbr-fonts-style display-5">
                                        Startup
                                    </h3>
                                    <div class="plan-price">
                                        <div class="price-figure pb-1 mbr-fonts-style">
                                            <span class="price-currency mbr-fonts-style display-7">$</span>
                                            <span class="price-value mbr-fonts-style mbr-semibold display-1">11</span>
                                            <span class="price-duration mbr-fonts-style display-4">/
                                                month</span></div>
                                    </div>

                                </div>
                                <div class="plan-body">
                                    <div class="plan-list align-center">
                                        <ul class="list-group list-group-flush mbr-fonts-style display-4">
                                            <li class="list-group-item"><span>1</span> Project</li>
                                            <li class="list-group-item"><span>100K</span> API Access</li>
                                            <li class="list-group-item"><span>100MB</span> Storage</li>
                                            <li class="list-group-item">Custom <span>Cloud</span> Services</li>
                                            <li class="list-group-item">Weekly <span>Reports</span></li>
                                            <li class="list-group-item">24/7<span>Support</span></li>
                                        </ul>
                                    </div>
                                    <div class="mbr-section-btn"><a href="#" class="btn btn-sm btn-danger display-4">GET STARTED</a></div>
                                </div>
                            </div>

                            <div class="plan col-12 my-3 justify-content-center col-md-4">
                                <div class="plan-header text-center">
                                    <span class="mbr-iconfont mbri-responsive"></span>
                                    <h3 class="plan-title mbr-bold pb-3 mbr-fonts-style display-5">
                                        Corporate</h3>
                                    <div class="plan-price">
                                        <div class="price-figure pb-1 mbr-fonts-style">
                                            <span class="price-currency mbr-fonts-style display-7">$</span>
                                            <span class="price-value mbr-fonts-style mbr-semibold display-1">26</span>
                                            <span class="price-duration mbr-fonts-style display-4">/
                                                month</span></div>
                                    </div>

                                </div>
                                <div class="plan-body">
                                    <div class="plan-list align-center">
                                        <ul class="list-group list-group-flush mbr-fonts-style display-4">
                                            <li class="list-group-item"><span>5</span> Project</li>
                                            <li class="list-group-item"><span>150K</span> API Access</li>
                                            <li class="list-group-item"><span>20GB</span> Storage</li>
                                            <li class="list-group-item">Custom <span>Cloud</span> Services</li>
                                            <li class="list-group-item">Weekly <span>Reports</span></li>
                                            <li class="list-group-item">24/7<span>Support</span></li>
                                        </ul>
                                    </div>
                                    <div class="mbr-section-btn"><a href="#" class="btn btn-sm btn-danger display-4">GET STARTED</a></div>
                                </div>
                            </div>

                            <div class="plan col-12 my-3 justify-content-center col-md-4">
                                <div class="plan-header text-center">
                                    <span class="mbr-iconfont mbri-devices"></span>
                                    <h3 class="plan-title mbr-bold pb-3 mbr-fonts-style display-5">Professional
                                    </h3>
                                    <div class="plan-price">
                                        <div class="price-figure pb-1 mbr-fonts-style">
                                            <span class="price-currency mbr-fonts-style display-7">$</span>
                                            <span class="price-value mbr-fonts-style mbr-semibold display-1">51</span>
                                            <span class="price-duration mbr-fonts-style display-4">/
                                                month</span></div>
                                    </div>

                                </div>
                                <div class="plan-body">
                                    <div class="plan-list align-center">
                                        <ul class="list-group list-group-flush mbr-fonts-style display-4">
                                            <li class="list-group-item"><span>10</span> Project</li>
                                            <li class="list-group-item"><span>300K</span> API Access</li>
                                            <li class="list-group-item"><span>100GB</span> Storage</li>
                                            <li class="list-group-item">Custom <span>Cloud</span> Services</li>
                                            <li class="list-group-item">Weekly <span>Reports</span></li>
                                            <li class="list-group-item">24/7<span>Support</span></li>
                                        </ul>
                                    </div>
                                    <div class="mbr-section-btn"><a href="#" class="btn btn-sm btn-danger display-4">GET STARTED</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab2" class="tab-pane" role="tabpanel">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="media-container-row">
                            <div class="plan col-12 my-3 justify-content-center col-md-4">
                                <div class="plan-header text-center">
                                    <span class="mbr-iconfont mbri-mobile"></span>
                                    <h3 class="plan-title mbr-bold pb-3 mbr-fonts-style display-5">
                                        Basic Plan
                                    </h3>
                                    <div class="plan-price">
                                        <div class="price-figure pb-1 mbr-fonts-style">
                                            <span class="price-currency mbr-fonts-style display-7">$</span>
                                            <span class="price-value mbr-fonts-style mbr-semibold display-1">110</span>
                                            <span class="price-duration mbr-fonts-style display-4">/
                                                month</span></div>
                                    </div>

                                </div>
                                <div class="plan-body">
                                    <div class="plan-list align-center">
                                        <ul class="list-group list-group-flush mbr-fonts-style display-4">
                                            <li class="list-group-item"><span>1</span> Project</li>
                                            <li class="list-group-item"><span>100K</span> API Access</li>
                                            <li class="list-group-item"><span>100MB</span> Storage</li>
                                            <li class="list-group-item">Custom <span>Cloud</span> Services</li>
                                            <li class="list-group-item">Weekly <span>Reports</span></li>
                                            <li class="list-group-item">24/7<span>Support</span></li>
                                        </ul>
                                    </div>
                                    <div class="mbr-section-btn"><a href="#" class="btn btn-sm btn-danger display-4">CHOOSE
                                            PLAN</a></div>
                                </div>
                            </div>

                            <div class="plan col-12 my-3 justify-content-center col-md-4">
                                <div class="plan-header text-center">
                                    <span class="mbr-iconfont mbri-responsive"></span>
                                    <h3 class="plan-title mbr-bold pb-3 mbr-fonts-style display-5">
                                        Premium Plan</h3>
                                    <div class="plan-price">
                                        <div class="price-figure pb-1 mbr-fonts-style">
                                            <span class="price-currency mbr-fonts-style display-7">$</span>
                                            <span class="price-value mbr-fonts-style mbr-semibold display-1">210</span>
                                            <span class="price-duration mbr-fonts-style display-4">/
                                                month</span></div>
                                    </div>

                                </div>
                                <div class="plan-body">
                                    <div class="plan-list align-center">
                                        <ul class="list-group list-group-flush mbr-fonts-style display-4">
                                            <li class="list-group-item"><span>5</span> Project</li>
                                            <li class="list-group-item"><span>150K</span> API Access</li>
                                            <li class="list-group-item"><span>20GB</span> Storage</li>
                                            <li class="list-group-item">Custom <span>Cloud</span> Services</li>
                                            <li class="list-group-item">Weekly <span>Reports</span></li>
                                            <li class="list-group-item">24/7<span>Support</span></li>
                                        </ul>
                                    </div>
                                    <div class="mbr-section-btn"><a href="#" class="btn btn-sm btn-danger display-4">CHOOSE
                                            PLAN</a></div>
                                </div>
                            </div>

                            <div class="plan col-12 my-3 justify-content-center col-md-4">
                                <div class="plan-header text-center">
                                    <span class="mbr-iconfont mbri-devices"></span>
                                    <h3 class="plan-title mbr-bold pb-3 mbr-fonts-style display-5">Corporate Plan
                                    </h3>
                                    <div class="plan-price">
                                        <div class="price-figure pb-1 mbr-fonts-style">
                                            <span class="price-currency mbr-fonts-style display-7">$</span>
                                            <span class="price-value mbr-fonts-style mbr-semibold display-1">550</span>
                                            <span class="price-duration mbr-fonts-style display-4">/
                                                month</span></div>
                                    </div>

                                </div>
                                <div class="plan-body">
                                    <div class="plan-list align-center">
                                        <ul class="list-group list-group-flush mbr-fonts-style display-4">
                                            <li class="list-group-item"><span>10</span> Project</li>
                                            <li class="list-group-item"><span>300K</span> API Access</li>
                                            <li class="list-group-item"><span>100GB</span> Storage</li>
                                            <li class="list-group-item">Custom <span>Cloud</span> Services</li>
                                            <li class="list-group-item">Weekly <span>Reports</span></li>
                                            <li class="list-group-item">24/7<span>Support</span></li>
                                        </ul>
                                    </div>
                                    <div class="mbr-section-btn"><a href="#" class="btn btn-sm btn-danger display-4">CHOOSE
                                            PLAN</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<section class="testimonials03 carouse2 slide testimonials-slider cid-rVs3Kb2wg3" data-interval="false" id="testimonials03-9">

    

    

    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <div class="badge_wrap align-center">
                    
                </div>

                <h3 class="mbr-fonts-style mbr-section-subtitle align-center mbr-light pt-3 display-4">OUR CLIENTS STORIES</h3>

                

                
            </div>

            <div class="col-lg-8 mt-4">
                <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="5000">
                    <div class="carousel-inner">
                        

                        
                        
                    <div class="carousel-item">
                            <div class="user col-md-12">
                                <div class="user_text pb-1">
                                    <p class="mbr-fonts-style align-center mbr-light display-5">
                                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos
                                        voluptas
                                        fugiat blanditiis, temporibus."</p>
                                </div>
                                <div class="details">
                                    <div class="img-wrapper">
                                        <img src="/static/assets/images/face1.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <p class="user_name align-left mbr-fonts-style mbr-bold display-7">
                                            Thomas
                                            Allison</p>
                                        <p class="user_status align-left mbr-fonts-style display-4">Manager
                                        </p>
                                    </div>
                                </div>

                            </div>

                        </div><div class="carousel-item">
                            <div class="user col-md-12">
                                <div class="user_text pb-1">
                                    <p class="mbr-fonts-style align-center mbr-light display-5">
                                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos
                                        voluptas
                                        fugiat blanditiis, temporibus."</p>
                                </div>
                                <div class="details">
                                    <div class="img-wrapper">
                                        <img src="/static/assets/images/face2.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <p class="user_name align-left mbr-fonts-style mbr-bold display-7">
                                            Joan
                                            Tucker</p>
                                        <p class="user_status align-left mbr-fonts-style display-4">Sales
                                            Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="carousel-item">
                            <div class="user col-md-12">
                                <div class="user_text pb-1">
                                    <p class="mbr-fonts-style align-center mbr-light display-5">
                                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos
                                        voluptas
                                        fugiat blanditiis, temporibus."</p>
                                </div>
                                <div class="details">
                                    <div class="img-wrapper">
                                        <img src="/static/assets/images/face3.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <p class="user_name align-left mbr-fonts-style mbr-bold display-7">
                                            Peter
                                            Beasley</p>
                                        <p class="user_status align-left mbr-fonts-style display-4">
                                            Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div></div>

                    <ol class="carousel-indicators">
                        <li data-app-prevent-settings="" data-target="#slider1" class=" active" data-slide-to="0"></li>
                        <li data-app-prevent-settings="" data-target="#slider1" data-slide-to="1">
                        </li>
                        <li data-app-prevent-settings="" data-target="#slider1" data-slide-to="2">
                        </li>
                        
                        
                        
                        
                        
                        
                        
                    </ol>



                    


                </div>

            </div>







        </div>
    </div>
</section>

<section class="form3 cid-rVs3Kv2A0B" id="form03-a">
    
    
    <div class="container">
        <h3 class="mbr-fonts-style mbr-section-subtitle align-center mbr-light pt-3 display-4">
            GET IN TOUCH</h3>
        <div class="badge_wrap align-center">
            
        </div>
        <h3 class="mbr-section-title align-center mbr-semibold accordion mbr-fonts-style display-2">
            Have any questions? Reach out to us from our <br>
            contact form and we will get back to you shortly.</h3>
        
        <div class="row mt-5">
            <div class="col-lg-6">
                <img src="/static/assets/images/07.jpg" alt="">
                <div class="row counter counter-s position-absolute">
                    <div class="col-md-10 text-center">
                        <div class="full-circle bg-default color-white">
                            <div class="full-circle-inner">
                                <p class="circle-text mbr-regular mbr-black mbr-fonts-style display-4">Pinkcity Infotech<br>302012<br>Jaipur,Raj</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mx-auto mbr-form" data-form-type="formoid">
                <!--Formbuilder Form-->
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="IT1XIKgMeKX0Y9lafKl+botFhkIdtRGTV4xDPpDYosz3f9LQ4ekJgTvnFkX1WtLVkT7Rex1OE+cZb2P6RACDT1QB6Y0bDWsMyTI1k6Jl7h8oYSmCvEvj5AKd2olos6cI">
                    <div class="form-row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out
                            the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea form-row">
                        <div class="col-lg-6 form-group" data-for="first-name">
                            <input type="text" name="first-name" placeholder="First Name *" data-form-field="first-name" class="form-control display-7" value="" id="first-name-form03-a">
                        </div>
                        <div class="col-lg-6 form-group" data-for="last-name">
                            <input type="text" name="last-name" placeholder="Last Name *" data-form-field="last-name" class="form-control display-7" value="" id="last-name-form03-a">
                        </div>
                        <div data-for="email" class="col-md-6 form-group">
                            <input type="email" name="email" placeholder="E-mail *" data-form-field="email" class="form-control display-7" value="" id="email-form03-a">
                        </div>
                        <div data-for="phone" class="col-lg-6 form-group">
                            <input type="tel" name="phone" placeholder="Phone" data-form-field="phone" class="form-control display-7" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="" id="phone-form03-a">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="textarea">
                            <textarea name="textarea" placeholder="Message *" data-form-field="textarea" class="form-control display-7" id="textarea-form03-a"></textarea>
                        </div>
                        <div class="col-lg-12 align-left col-md-12 col-sm-12 mbr-section-btn"><button type="submit" class="btn btn-sm btn-danger display-4">SEND MESSAGE</button></div>
                        <p class="mbr-text required mbr-regular mbr-fonts-style display-4">
                            * These fields are required.</p>
                    </div>
                </form>
                <!--Formbuilder Form-->
            </div>
        </div>
    </div>
</section>

<section class="footer04 digitalm4_footer04 cid-sd81ocrK3H" id="footer04-j">

    
    <svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper position-absolute mbr-z-index20" preserveAspectRatio="none" viewBox="0 0 1070 52">
        <path d="M0,0S247,91,505,32c261.17-59.72,565-13,565-13V0Z"></path>
    </svg>
    

    <div class="container">
        <div class="row align-center mbr-white">

            <div class="col-12 col-md-4 mb-md-0 mb-5">
                
                <ul class="list">
                    
                    
                    
                    
                    
                <li class="item-wrap align-center">
                        <h4 class="item mbr-regular mbr-fonts-style display-4">603, Gordhan Sky Mall&nbsp;<div>Khatipura Rd, Jhotwara, Jaipur&nbsp;</div><div>Rajasthan 302012&nbsp;</div></h4>
                    </li><li class="item-wrap align-center">
                        <h4 class="item mbr-regular mbr-fonts-style display-4">12/03 Ave 338855</h4>
                    </li></ul>

            </div>

            <div class="col-12 col-md-4 mb-md-0 mb-5">

                
                <div class="icons-wrapper">
                    <ul>
                        <li>
                            <a class="icon-transition" href="#">
                                <span class="mbr-iconfont socicon-flickr socicon"></span>
                            </a>
                        </li>
                        <li>
                            <a class="icon-transition" href="#">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </li>
                        <li>
                            <a class="icon-transition" href="#">
                                <span class="mbr-iconfont socicon-facebook socicon"></span>
                            </a>
                        </li>
                        <li>
                            <a class="icon-transition" href="#">
                                <span class="mbr-iconfont socicon-instagram socicon"></span>
                            </a>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>


            <div class="col-12 col-md-4">

                
                <ul class="list">
                    
                    
                    
                    
                    
                    
                <li class="item-wrap">
                        <h4 class="item mbr-regular mbr-fonts-style display-4">info@example.com</h4>
                    </li><li class="item-wrap">
                        <h4 class="item mbr-regular mbr-fonts-style display-4"></h4>
                    </li></ul>

            </div>
        </div>
    </div>
</section>

<section once="footers" class="cid-rVs3LKglxt" id="footer02-d">

    

    

    <div class="container">
        <div class="row mbr-white">
            <div class="copyright align-center col-md-12">
                <p class="mbr-text mb-0 mbr-fonts-style align-center display-4">
                    © 2020 Pinkcityinfotech.com All rights reserved.</p>
            </div>
        </div>
    </div>
</section>


<script src="/static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/static/assets/popper/popper.min.js"></script>
  <script src="/static/assets/tether/tether.min.js"></script>
  <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/static/assets/mbr-tabs/mbr-tabs.js"></script>
  <script src="/static/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
  <script src="/static/assets/mbr-testimonials-slider/mbr-testimonials-slider.js"></script>
  <script src="/static/assets/formstyler/jquery.formstyler.js"></script>
  <script src="/static/assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="/static/assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="/static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="/static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/static/assets/theme/js/script.js"></script>
  <script src="/static/assets/formoid.min.js"></script>
  
  
  

</body>
</html>